
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* background: url(https://mdn.dev/archives/media/attachments/2012/07/09/3466/a3398e03c058d99fb2b7837167cdbc26/no-dimensions-1x1-ratio.svg); */
  background-image: linear-gradient(to bottom right, rgba(12, 1, 71, 0.5), rgba(54, 4, 4, 0.5)),   url(../src/background.jpg);
  background-size: cover;
  
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}

.status {
  font-size: 40px;
  font-family: "Merienda", cursive;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}


.board {
  display: flex;
  flex-direction: column;
  border: 2px solid #012f3a;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 30px 48px rgba(255, 38, 0, 0.3), 0 20px 32px rgba(247, 0, 255, 0.22) ;
  transition: all 0.5s ease;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="384" height="366" viewBox="0 0 384 366" fill="none"><path vector-effect="non-scaling-stroke" d="M32 1H319.453C328.037 1 336.238 4.5601 342.1 10.832L374.648 45.6545C380.015 51.3966 383 58.9629 383 66.8225V334C383 351.121 369.121 365 352 365H32C14.8792 365 1 351.121 1 334V32C1 14.8792 14.8792 1 32 1Z" stroke="white" stroke-opacity="0.15" stroke-width="2"/><path vector-effect="non-scaling-stroke" d="M32 1H319.453C328.037 1 336.238 4.5601 342.1 10.832L374.648 45.6545C380.015 51.3966 383 58.9629 383 66.8225V334C383 351.121 369.121 365 352 365H32C14.8792 365 1 351.121 1 334V32C1 14.8792 14.8792 1 32 1Z" stroke="url(%23paint0_linear_333_9188)" stroke-opacity="0.85" stroke-width="2"/><defs><linearGradient id="paint0_linear_333_9188" x1="192" y1="0" x2="192" y2="366" gradientUnits="userSpaceOnUse"><stop stop-color="#33CEFF"/><stop offset="0.562842" stop-color="#D633FF" stop-opacity="0"/></linearGradient></defs></svg>');
}


.board-row {
  display: flex;
  

}

.square {
  background: linear-gradient(to bottom right, #35189b, #940c29); /* Linear gradient background */
  border: 2px solid #999;
  font-size: 24px;
  font-weight: bold;
  width: 200px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  margin: 5px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
  transition: all 0.5s ; 
  
}

.square:hover {
  background: linear-gradient(to bottom right, #f79797, #e0e0e0); /* Change gradient on hover */
  box-shadow: 0px 8px 16px rgba(245, 243, 243, 0.2); /* Increase shadow on hover */
 
}


.play-again {
  padding: 10px 20px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: "Merienda", cursive;
  border: 2px solid #fff;
  border-top-right-radius: 40px;
  letter-spacing: 0.2em;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.5s;
  background: linear-gradient(to bottom right, #050641, #610312); 
}

.play-again:hover {
  letter-spacing: 0.25em;
  background: rgb(12, 1, 1);
  border: 2px solid  #35189b;
   color: #35189b;
   box-shadow: 10px 20px 45px rgba(68, 0, 255, 0.5);
}

.play-again::before {
  content: "";
  inset: 2px;
  background: #27282c;
}

/* .play-again i {
  position: absolute;
  inset: 0;
  display: block;
}

.play-again i:hover { 
  content: '';
  position: inherit;
  border-top-left-radius: 100%;
  left: 50%;
  width: 20px;
  height: 5px;
  background: #940c29;
} */